  
/* 标题栏字体居中，加粗 */
.workspace .mod-root .workspace-tab-header-inner-title {
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

/* Hn 标题行高 */
.HyperMD-header .cm-header-1, .HyperMD-header .cm-header-2, .HyperMD-header .cm-header-3, .HyperMD-header .cm-header-4, .HyperMD-header .cm-header-5, .HyperMD-header .cm-header-6 {
    line-height: 2;
}

/* 引用 */
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    font-family: 霞鹜文楷;
    font-weight: bolder;
    padding: 10px;
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote:before, .markdown-source-view.mod-cm6 .cm-blockquote-border:before {
    border-left: 5px solid var(--blockquote-border-color);
}

/* 列表颜色 */
.markdown-source-view.mod-cm6 .cm-formatting-list-ul, .markdown-source-view.mod-cm6 .cm-formatting-list-ol {
    white-space: pre;
    color: #61afef;
}


/* 侧边栏folder字体加粗 */
.nav-folder-title-content {
    font-weight: bold;
}

/* thino */
/* memo框阴影  */
div[data-type=thino_view] .memo-wrapper, .thino-hover-popover .memo-wrapper, .block-language-thino .thino-embed-container .memo-wrapper {
    border-radius: 10px;
    border: 2px solid var(--memos-memo-border);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* Go按钮透明 */
div[data-type=thino_view] .common-editor-wrapper>.common-tools-wrapper>.btns-container>.confirm-btn, .thino-editor-modal .common-editor-wrapper>.common-tools-wrapper>.btns-container>.confirm-btn {
    background-color: rgb(0 0 0 / 0%);
}
/* 选中文字的背景颜色 */
.anp-current-line-border .markdown-source-view .cm-active.cm-line {
    background-color: rgb(89 89 115 / 18%);
}

/* pro的背景颜色 */
.theme-dark div[data-type=thino_view] .user-banner-container .user-pro-badge.activated {
    background: #f6d297!important;
}


.theme-dark {
    --memos-bg-light-blue: #325e4b4f;
}


.theme-dark div[data-type=thino_view] .memo-editor-wrapper, .theme-dark .thino-editor-modal .memo-editor-wrapper {
    box-shadow: 0 0 20px rgb(65 80 96 / 60%);
}
